*,
*:before,
*:after {
    box-sizing: inherit;
}

html{
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Lato', 'Microsoft YaHei', Arial, Helvetica, sans-serif;
}
img{
    vertical-align: middle;
}
.center{
    display: block;
    text-align: center;
}
.container{
    width: 80%;
    border:1px solid #f00
}
.tag-label{
    display: inline-block;
    border-radius: 3px;
    background-color: #C6C6D7;
    width: 3em;
    height: 2em;
    line-height: 2em;
    margin: 5px;
    text-align: center;
}
.nav a{
    display: block;
    border-radius: 3px;
    font-size: 20px;
    background-color: #508FD0;
    width: 5em;
    height: 2em;
    line-height: 2em;
    margin: 5px;
    text-align: center;
    text-decoration: none;
}
.right-box{
    margin-left: 110px;
    border: 1px solid #00A000 ;
    min-height: 300px;
    position: relative;
}
.nav{
    position: absolute;

}
/*charts样式*/
.charts{
    height: 100%;
    width: 80%;
    min-height: 400px;
}
/*测试样式*/
.right-box.heightZiShi{
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 100px;
}